{% extends "core/base.html" %}

{% block title %} Egresos {% endblock %}

{% block content %}

 <div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
        <div class="card shadow">
            <div class="card-body">
            <h1 class="mb-4 text-center">Formulario para registrar egresos</h1>

            {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>
                </div>
            {% endfor %}
            {% endif %}
            
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary w-100">Guardar</button>
            </form>
            </div>
        </div>
        </div>
    </div>
    </div>

{% endblock %}