{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    
        <title>        
            {% block title %}
                Title base - Mi app de finanzas
            {% endblock %}
        </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <!-- Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    </head>

    <body>
        <div class="container-fluid">
            <div class="row min-vh-100">
                <!-- Menú lateral izquierdo -->
                <nav class="col-12 col-md-2 bg-light border-end py-4 px-3 d-md-block d-flex flex-row align-items-center justify-content-between">
                    <div class="d-flex align-items-center w-100">
                        <img src="{% static 'img/ChanchitApp.png' %}" alt="ChanchitApp Logo" style="max-height: 100px;" class="mb-1">
                        
                        <button class="navbar-toggler d-md-none ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>
                    <div class="collapse d-md-block w-100 mt-3 mt-md-4" id="sidebarMenu">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center gap-2" href="{% url 'pagina_inicio' %}">
                                    <i class="bi bi-house-door"></i> Inicio
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center gap-2" href="{% url 'ingreso_monto' %}">
                                    <i class="bi bi-arrow-down-circle"></i> Ingresos
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center gap-2" href="{% url 'egreso_monto' %}">
                                    <i class="bi bi-arrow-up-circle"></i> Egresos
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center gap-2" href="{% url 'query' %}">
                                    <i class="bi bi-search"></i> Consultas
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link d-flex align-items-center gap-2" href="{% url 'evento_list' %}">
                                    <i class="bi bi-gift"></i> Eventos
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>

                <!-- Contenido inicio -->
                <main class="col-9 col-md-10 py-4 px-5">
                    <div class="d-flex justify-content-end align-items-center mb-3">
                        {% if request.user.is_authenticated %}
                            <img src="{{ request.user.avatar.url }}" 
                                alt="Avatar" 
                                class="rounded-circle border me-2" 
                                style="width:50px; height:50px; object-fit:cover;">
                            <a href="{% url 'vista_perfil' %}" class="text-decoration-none me-4">
                                Bienvenido, {{ request.user.username|title }}
                            </a>
                            <a href="{% url 'logout' %}" class="btn btn-sm btn-outline-danger">Cerrar sesión</a>
                        {% endif %}

                    </div>
                    {% block content %}
                        {% if messages %}
                            <div class="container mt-3">
                                {% for message in messages %}
                                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                                        {{ message }}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                        Content base - Mi app de finanzas
                    {% endblock %}
                </main>
            </div>
        </div>

        <!-- Footer -->
        <footer class="bg-primary text-white text-center py-3 mt-auto shadow-sm">
            <p class="mb-0">&copy; 2025. Todos los derechos reservados.</p>
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
        
    {% block extra_scripts %}{% endblock %}
    
    </body>

</html>